## Preprocessing

In [19]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.

application_df = application_df.drop(columns=["EIN", "NAME"])
application_df.head()

# application_df.drop(["EIN", "NAME"], axis=1, inplace=True)

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
for x in application_df.columns:
    print(x, len(application_df[x].unique()))

application_df.nunique()

APPLICATION_TYPE 17
AFFILIATION 6
CLASSIFICATION 71
USE_CASE 5
ORGANIZATION 4
STATUS 2
INCOME_AMT 9
SPECIAL_CONSIDERATIONS 2
ASK_AMT 8747
IS_SUCCESSFUL 2

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_value_count = application_df["APPLICATION_TYPE"].value_counts()
application_value_count

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_value_count.loc[application_value_count < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
binning = application_df['CLASSIFICATION'].value_counts()

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts = binning[binning > 1]
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1278       10
C1238       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1600        5
C1257        5
C2710        3
C0           3
C1260        3
C3200        2
C1256        2
C1267        2
C1246        2
C1234        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(binning [binning < 100].index)
# classifications_to_replace

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
application_dummies_df = pd.get_dummies(application_df, dtype=float)
application_dummies_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [10]:
# Split our preprocessed data into our features and target arrays
y = application_dummies_df["IS_SUCCESSFUL"].values
X = application_dummies_df.drop("IS_SUCCESSFUL", axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [12]:
X_train_scaled.shape

(25724, 49)

In [13]:
X_test_scaled.shape

(8575, 49)

## Compile, Train and Evaluate the Model

In [14]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = X_train_scaled.shape[1]

hidden_layer1 = 80
hidden_layer2 = 30

nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=hidden_layer1, activation="relu", input_dim=input_features))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=hidden_layer2, activation="relu"))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid")) 

# Check the structure of the model
nn_model.summary()

WARNING:tensorflow:From C:\Users\Karina Alvarez\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\ops\init_ops.py:1251: calling VarianceScaling.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor
Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 80)                4000
_________________________________________________________________
dense_1 (Dense)              (None, 30)                2430
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 31
=================================================================
Total params: 6,461
Trainable params: 6,461
Non-trainable params: 0
_________________________________________________________________

In [15]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

WARNING:tensorflow:From C:\Users\Karina Alvarez\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\ops\nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

In [16]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
25724/25724 [==============================] - 1s 50us/sample - loss: 0.5680 - acc: 0.7207
Epoch 2/100
25724/25724 [==============================] - 1s 43us/sample - loss: 0.5549 - acc: 0.72891s - loss: 0.5476 - acc: 0.729 - ETA: 0s - loss: 0.5502 - acc: 0 - ETA: 0s - loss: 0.5565 - acc: 0. - ETA: 0s - loss: 0.5555 - acc: 0.72 - ETA: 0s - loss: 0.5562 - acc: 0. - ETA: 0s - loss: 0.5531 - acc: 0.
Epoch 3/100
25724/25724 [==============================] - 1s 43us/sample - loss: 0.5517 - acc: 0.72921s - loss: 0.5372 - acc: - ETA: 0s - loss: 0.5460 -  - ETA: 0s - loss: 0.5508 - acc: 0.72
Epoch 4/100
25724/25724 [==============================] - ETA: 0s - loss: 0.5497 - acc: 0.7311- ETA: 1s - loss: 0.5595 - acc:  - ETA: 0s - loss: 0.5538 - acc: 0.72 - ETA: 0s - loss: 0.5518  - 1s 43us/sample - loss: 0.5486 - acc: 0.7323
Epoch 5/100
25724/25724 [==============================] - 1s 43us/sample - loss: 0.5484 - acc: 0.73080s - loss: 0.5499
Epoch 6/100
25724/25724 [==============================] - 1s 43us/sample - loss: 0.5469 - acc: 0.7326
Epoch 7/100
25724/25724 [==============================] - 1s 44us/sample - loss: 0.5461 - acc: 0.73180s - loss: 0.5467 - acc: 0.7 - ETA: 0s - loss: 0.5459 - acc: 0
Epoch 8/100
25724/25724 [==============================] - 3s 134us/sample - loss: 0.5456 - acc: 0.7326
Epoch 9/100
25724/25724 [==============================] - 3s 134us/sample - loss: 0.5447 - acc: 0.7334
Epoch 10/100
25724/25724 [==============================] - 3s 133us/sample - loss: 0.5440 - acc: 0.7329
Epoch 11/100
25724/25724 [==============================] - 3s 134us/sample - loss: 0.5438 - acc: 0.7331
Epoch 12/100
25724/25724 [==============================] - 3s 134us/sample - loss: 0.5436 - acc: 0.7332
Epoch 13/100
25724/25724 [==============================] - 3s 134us/sample - loss: 0.5426 - acc: 0.7336
Epoch 14/100
25724/25724 [==============================] - 4s 138us/sample - loss: 0.5419 - acc: 0.7336s - loss: 0.5427 - acc:
Epoch 15/100
25724/25724 [==============================] - 3s 135us/sample - loss: 0.5417 - acc: 0.7338
Epoch 16/100
25724/25724 [==============================] - 3s 134us/sample - loss: 0.5411 - acc: 0.7353
Epoch 17/100
25724/25724 [==============================] - 3s 134us/sample - loss: 0.5408 - acc: 0.7359
Epoch 18/100
25724/25724 [==============================] - 3s 134us/sample - loss: 0.5406 - acc: 0.7358
Epoch 19/100
25724/25724 [==============================] - 3s 135us/sample - loss: 0.5403 - acc: 0.7353
Epoch 20/100
25724/25724 [==============================] - 3s 133us/sample - loss: 0.5401 - acc: 0.7364
Epoch 21/100
25724/25724 [==============================] - 3s 134us/sample - loss: 0.5402 - acc: 0.7344
Epoch 22/100
25724/25724 [==============================] - 3s 136us/sample - loss: 0.5397 - acc: 0.7371
Epoch 23/100
25724/25724 [==============================] - 3s 136us/sample - loss: 0.5391 - acc: 0.7365
Epoch 24/100
25724/25724 [==============================] - 3s 135us/sample - loss: 0.5389 - acc: 0.7377
Epoch 25/100
25724/25724 [==============================] - 4s 137us/sample - loss: 0.5390 - acc: 0.7368
Epoch 26/100
25724/25724 [==============================] - 4s 143us/sample - loss: 0.5383 - acc: 0.7367
Epoch 27/100
25724/25724 [==============================] - 4s 139us/sample - loss: 0.5383 - acc: 0.7369
Epoch 28/100
25724/25724 [==============================] - 4s 139us/sample - loss: 0.5384 - acc: 0.7378
Epoch 29/100
25724/25724 [==============================] - 4s 139us/sample - loss: 0.5384 - acc: 0.7369
Epoch 30/100
25724/25724 [==============================] - 2s 60us/sample - loss: 0.5379 - acc: 0.7365
Epoch 31/100
25724/25724 [==============================] - 4s 136us/sample - loss: 0.5376 - acc: 0.7374
Epoch 32/100
25724/25724 [==============================] - 4s 138us/sample - loss: 0.5372 - acc: 0.7374
Epoch 33/100
25724/25724 [==============================] - 2s 88us/sample - loss: 0.5373 - acc: 0.7378
Epoch 34/100
25724/25724 [==============================] - 3s 122us/sample - loss: 0.5373 - acc: 0.7369
Epoch 35/100
25724/25724 [==============================] - 4s 140us/sample - loss: 0.5368 - acc: 0.7390
Epoch 36/100
25724/25724 [==============================] - 4s 138us/sample - loss: 0.5369 - acc: 0.7381
Epoch 37/100
25724/25724 [==============================] - 4s 139us/sample - loss: 0.5369 - acc: 0.7365
Epoch 38/100
25724/25724 [==============================] - 4s 140us/sample - loss: 0.5360 - acc: 0.7376
Epoch 39/100
25724/25724 [==============================] - 3s 124us/sample - loss: 0.5363 - acc: 0.7377
Epoch 40/100
25724/25724 [==============================] - 4s 140us/sample - loss: 0.5362 - acc: 0.7384
Epoch 41/100
25724/25724 [==============================] - 4s 141us/sample - loss: 0.5362 - acc: 0.7376
Epoch 42/100
25724/25724 [==============================] - 4s 141us/sample - loss: 0.5359 - acc: 0.7389
Epoch 43/100
25724/25724 [==============================] - 4s 139us/sample - loss: 0.5356 - acc: 0.7382
Epoch 44/100
25724/25724 [==============================] - 4s 139us/sample - loss: 0.5356 - acc: 0.7383
Epoch 45/100
25724/25724 [==============================] - 4s 141us/sample - loss: 0.5360 - acc: 0.7384
Epoch 46/100
25724/25724 [==============================] - 4s 139us/sample - loss: 0.5353 - acc: 0.7381
Epoch 47/100
25724/25724 [==============================] - 4s 141us/sample - loss: 0.5352 - acc: 0.7390
Epoch 48/100
25724/25724 [==============================] - 3s 132us/sample - loss: 0.5356 - acc: 0.7372
Epoch 49/100
25724/25724 [==============================] - 4s 140us/sample - loss: 0.5354 - acc: 0.7385
Epoch 50/100
25724/25724 [==============================] - 4s 140us/sample - loss: 0.5348 - acc: 0.7384
Epoch 51/100
25724/25724 [==============================] - 4s 142us/sample - loss: 0.5350 - acc: 0.7376
Epoch 52/100
25724/25724 [==============================] - 4s 139us/sample - loss: 0.5356 - acc: 0.7382
Epoch 53/100
25724/25724 [==============================] - 4s 143us/sample - loss: 0.5350 - acc: 0.7394
Epoch 54/100
25724/25724 [==============================] - 4s 139us/sample - loss: 0.5345 - acc: 0.7376
Epoch 55/100
25724/25724 [==============================] - 4s 139us/sample - loss: 0.5348 - acc: 0.7384
Epoch 56/100
25724/25724 [==============================] - 4s 138us/sample - loss: 0.5345 - acc: 0.7387
Epoch 57/100
25724/25724 [==============================] - 4s 139us/sample - loss: 0.5344 - acc: 0.7395
Epoch 58/100
25724/25724 [==============================] - 4s 139us/sample - loss: 0.5348 - acc: 0.7393
Epoch 59/100
25724/25724 [==============================] - 4s 139us/sample - loss: 0.5341 - acc: 0.7396
Epoch 60/100
25724/25724 [==============================] - 4s 139us/sample - loss: 0.5345 - acc: 0.7381
Epoch 61/100
25724/25724 [==============================] - 4s 139us/sample - loss: 0.5343 - acc: 0.7383
Epoch 62/100
25724/25724 [==============================] - 4s 138us/sample - loss: 0.5340 - acc: 0.7377
Epoch 63/100
25724/25724 [==============================] - 4s 140us/sample - loss: 0.5340 - acc: 0.7389
Epoch 64/100
25724/25724 [==============================] - 4s 138us/sample - loss: 0.5342 - acc: 0.7394
Epoch 65/100
25724/25724 [==============================] - 3s 111us/sample - loss: 0.5340 - acc: 0.7379
Epoch 66/100
25724/25724 [==============================] - 4s 138us/sample - loss: 0.5333 - acc: 0.7391
Epoch 67/100
25724/25724 [==============================] - 3s 100us/sample - loss: 0.5340 - acc: 0.7389
Epoch 68/100
25724/25724 [==============================] - 2s 83us/sample - loss: 0.5334 - acc: 0.7393
Epoch 69/100
25724/25724 [==============================] - 2s 61us/sample - loss: 0.5342 - acc: 0.7395
Epoch 70/100
25724/25724 [==============================] - 3s 100us/sample - loss: 0.5340 - acc: 0.7391
Epoch 71/100
25724/25724 [==============================] - 3s 114us/sample - loss: 0.5336 - acc: 0.7385s - loss: 0.51
Epoch 72/100
25724/25724 [==============================] - 3s 132us/sample - loss: 0.5330 - acc: 0.7386
Epoch 73/100
25724/25724 [==============================] - 4s 139us/sample - loss: 0.5329 - acc: 0.7395
Epoch 74/100

25724/25724 [==============================] - 3s 136us/sample - loss: 0.5334 - acc: 0.7386
Epoch 75/100
25724/25724 [==============================] - 3s 133us/sample - loss: 0.5329 - acc: 0.7392
Epoch 76/100
25724/25724 [==============================] - 3s 133us/sample - loss: 0.5333 - acc: 0.7399
Epoch 77/100
25724/25724 [==============================] - 3s 132us/sample - loss: 0.5330 - acc: 0.7396
Epoch 78/100
25724/25724 [==============================] - 3s 133us/sample - loss: 0.5331 - acc: 0.7387
Epoch 79/100
25724/25724 [==============================] - 3s 133us/sample - loss: 0.5330 - acc: 0.7384
Epoch 80/100
25724/25724 [==============================] - 3s 133us/sample - loss: 0.5330 - acc: 0.7392
Epoch 81/100
25724/25724 [==============================] - 3s 133us/sample - loss: 0.5325 - acc: 0.7397
Epoch 82/100
25724/25724 [==============================] - 3s 133us/sample - loss: 0.5324 - acc: 0.7396
Epoch 83/100
25724/25724 [==============================] - 3s 133us/sample - loss: 0.5327 - acc: 0.7397
Epoch 84/100
25724/25724 [==============================] - 3s 135us/sample - loss: 0.5326 - acc: 0.7397
Epoch 85/100
25724/25724 [==============================] - 3s 133us/sample - loss: 0.5325 - acc: 0.7402
Epoch 86/100
25724/25724 [==============================] - 3s 134us/sample - loss: 0.5326 - acc: 0.7394
Epoch 87/100
25724/25724 [==============================] - 3s 133us/sample - loss: 0.5326 - acc: 0.7398
Epoch 88/100
25724/25724 [==============================] - 3s 134us/sample - loss: 0.5321 - acc: 0.7404
Epoch 89/100
25724/25724 [==============================] - 3s 133us/sample - loss: 0.5323 - acc: 0.7402
Epoch 90/100
25724/25724 [==============================] - 3s 134us/sample - loss: 0.5319 - acc: 0.7405
Epoch 91/100
25724/25724 [==============================] - 3s 134us/sample - loss: 0.5323 - acc: 0.7400
Epoch 92/100
25724/25724 [==============================] - 3s 132us/sample - loss: 0.5328 - acc: 0.7397
Epoch 93/100
25724/25724 [==============================] - 3s 128us/sample - loss: 0.5317 - acc: 0.7402s - los
Epoch 94/100
25724/25724 [==============================] - 3s 133us/sample - loss: 0.5317 - acc: 0.7401
Epoch 95/100
25724/25724 [==============================] - 3s 133us/sample - loss: 0.5320 - acc: 0.7397
Epoch 96/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.5317 - acc: 0.7392
Epoch 97/100
25724/25724 [==============================] - 3s 135us/sample - loss: 0.5317 - acc: 0.7393
Epoch 98/100
25724/25724 [==============================] - 3s 133us/sample - loss: 0.5320 - acc: 0.7392
Epoch 99/100
25724/25724 [==============================] - 3s 133us/sample - loss: 0.5317 - acc: 0.7399
Epoch 100/100
25724/25724 [==============================] - 3s 133us/sample - loss: 0.5317 - acc: 0.7399

In [17]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/8575 - 1s - loss: 0.5580 - acc: 0.7300
Loss: 0.5580042649462341, Accuracy: 0.7300291657447815

In [1]:
# Export our model to HDF5 file

#WE DID NOT COVER THIS IN CLASS